*{
	box-sizing: border-box;
	font-family: "Varela Round", sans-serif;
}
body{
	margin: 0;
}
.particle{
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.container{
	max-width: 1300px;
	margin: 0 auto;
}
.hero{
	max-width: auto;
	min-height: 100vh;
	background:
		linear-gradient(to right, rgba(31, 31, 31, 0.8), rgba(31, 31, 31, 0.8)), 
		url("../assets/img/bg.jpg") no-repeat center center / cover;
		background-attachment: fixed;
}
.site-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.site-nav__logo{
	font-weight: 700;
	text-decoration: none;
	font-size: 28px;
	color: #fff;
}
.site-nav__list{
	margin: 0;
	padding: 5px 0;
	width: 700px;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}
.site-nav__item{
	padding: 10px 0;
}
.site-nav__:hover{
	color: #d4af37;
	border-bottom: 2px solid #d4af37;
}
.site-nav__link{
	display: block;
	padding: 8px;
	font-size: 15px;
	letter-spacing: .5px;
	text-decoration: none;
	color: #fff;
}
.site-nav__link--active{
	border-bottom: 2px solid #d4af37;
}

.site-nav__link--signup{
	padding: 8px 20px;
	border-radius: 30px;
	border: 1px solid #d4af37;
	background: rgb(242,198,55);
	background-image: linear-gradient(270deg,#d4af37,#b18145 106.25%);

}
.site-nav__link--signup::hover{
	background-color: #222;
}
.hero__wrapper{
	padding: 160px 40px 0;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
}
.hero__title{
	margin: 0;
	padding: 0 0 30px;
	font-size: 50px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-weight: 700;
}
.hero__span{
	color: #d4af37;
}
.hero__text{
	margin: 0;
	padding: 0 0 25px;
	width: 600px;
	line-height: 30px;
	letter-spacing: 1.2px;
	color: #fff;
	font-size: 20px;
}
.hero__link{
	display: inline-block;
	width: 250px;
	padding: 15px 40px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 20px;
	border-radius: 35px;
	background-image: linear-gradient(270deg,#d4af37,#b18145 106.25%);
}
.hero__link:hover{
	font-weight: 700;
	color: #6195FF;
	background-color: #fff;
}
.using-info{
	padding: 20px 0 90px;
	border-bottom: 2px solid #f0f0f0;
}
.using-info__header{
	position: relative;
	width: 600px;
	margin: 0 auto;
	padding: 35px 0 70px;
	color: #1C1D21;
	text-align: center;
	letter-spacing: .5px;
	font-size: 36px;
}
.using-info__header:after{
	position: absolute;
	display: block;
	width: 100px;
	height: 5px;
	top: 150px;
	left: 250px;
	border-radius: 5px;
	background-color: #6195FF;
	content: "";
}
.using-info__list{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	list-style-type: none;
}
.using-info__item{
	width: 350px;
	padding: 30px;
	border: 2px solid #eee;
	border-radius: 8px;
}
.using-info__item:hover{
	background-color: #1C1D21;
}
.using-info__title{
	margin: 0;
	padding: 20px 20px 10px;
	letter-spacing: .5px;
	font-size: 20px;
	font-weight: 600;
	color: #6195FF;
}
.using-info__text{
	margin: 0;
	padding: 10px 20px;
	line-height: 23px;
	letter-spacing: .5px;
	color: #868F9B;
}
.using-technology{
	padding-bottom: 40px;
	background-color: #fafafa;
}
.using-technology__wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}
.using-technology__text{
	margin: 0;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	font-weight: 800;
	color: rgb(90, 90, 90);
}
.using-technology__link{
	display: inline-block;
	width: 300px;
	margin: 5px 20px;
	padding: 20px 25px;
	border-radius: 10px;
	font-size: 19px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	background-color: #1C1D21;
	color: #6195FF;
}
.using-technology__link:hover{
	background-color: #0b0c0e;
}