*{
	box-sizing: border-box;
	font-family: "Varela Round", sans-serif;
}
body{
	margin: 0;
}
.particle{
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.container{
	max-width: 1300px;
	margin: 0 auto;
}
.hero{
	max-width: auto;
	min-height: 100vh;
	background:
		linear-gradient(to right, rgba(31, 31, 31, 0.9), rgba(31, 31, 31, 0.9)), 
		url("../assets/img/hero.jpg") no-repeat center center / cover;
		background-attachment: fixed;
}

/* site navigation */

.site-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}
.site-nav__logo{
	font-weight: 700;
	text-decoration: none;
	font-size: 28px;
	color: #fff;
}
.site-nav__list{
	margin: 0;
	width: 700px;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	z-index: 2000;
}
.site-nav__link{
	display: block;
	padding: 8px;
	font-size: 15px;
	letter-spacing: .5px;
	text-decoration: none;
	color: #fff;
}
.site-nav__link:hover{
	color: #d4af37;
	box-shadow: 0 2px 0px #d4af37;
;

}
.site-nav__link--active{
	box-shadow: 0 2px 0px #d4af37;
}

.site-nav__link--signup{
	padding: 8px 20px;
	border-radius: 30px;
	border: 1px solid #d4af37;
}
.site-nav__link--signup:hover{
	color: #fff;
	background: linear-gradient(270deg,#d4af37,#b18145 106.25%);
}
.site-nav__menu{
	display: none;
}
/* site navigation end */

/* hero start */

.hero__wrapper{
	padding: 160px 50px 0;
	display: flex;
	flex-direction: column;
}
.hero__title{
	margin: 0;
	padding: 0 0 30px;
	font-size: 50px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-weight: 700;
}
.hero__span{
	color: #d4af37;
}
.hero__text{
	margin: 0;
	padding: 0 0 25px;
	max-width: 600px;
	line-height: 30px;
	letter-spacing: 1.2px;
	color: #fff;
	font-size: 20px;
}
.hero__link{
	display: inline-block;
	max-width: 250px;
	padding: 15px 40px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 22px;
	border-radius: 40px;
	border: 1px solid #d4af37;
	background-image: linear-gradient(270deg,#d4af37,#b18145 106.25%);
	z-index: 1000;
}
.hero__link:hover{
	font-weight: 700;
	background-image: linear-gradient(270deg,#b18145, #d4af37 106.25%);
}

/* hero end */

/* information about using this site section start */

.using-info{
	background: linear-gradient(270deg,#111618,#201f1f 106.25%);
	padding: 60px 0 60px;
	z-index: 999;
}
.using-info__header{
	width: 600px;
	margin: 0 auto;
	padding: 35px 0 70px;
	color: rgb(255, 255, 255, 0.6);
	text-align: center;
	letter-spacing: 0.5px;
	line-height: 50px;
	font-size: 36px;
	font-weight: 00;
}
.using-info__list{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
}
.using-info__item{
	width: 600px;
	padding: 30px 80px;
}
.using-info__title{
	margin: 0;
	padding: 20px 20px 10px;
	letter-spacing: .5px;
	font-size: 25px;
	font-weight: 600;
	color: #d4af37;
	text-align: center;
}
.using-info__text{
	margin: 0 auto 10px;
	padding: 10px 20px 20px;
	line-height: 23px;
	letter-spacing: .5px;
	text-align: center;
	color: #868F9B;
	font-size: 20;
}
 #dots{
	color: #fff;
	background-color: #fff;
}

/* using info end */

/* using tachnology section start */

.using-technology{
	padding-bottom: 40px;
	background: linear-gradient(270deg,#111618,#201f1f 106.25%);
}
.using-technology__wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 auto;
}
.using-technology__text{
	margin: 0;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	font-weight: 800;
	color: #868F9B;
}
.using-technology__link{
	display: block;
	max-width: 400px;
	margin: 10px;
	padding: 20px 70px;
	border-radius: 30px;
	border: 1px solid #d4af37;
	font-size: 19px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	background-color: #1C1D21;
	color: #d4af37;
}
.using-technology__link:hover{
	background-image: linear-gradient(270deg,#d4af37,#b18145 106.25%);
	color: #fff;
}

/* using technology section end */

/* tarifs start */

.tarifs{
	padding: 50px 0;
	background-color: #e7e7e7;
}
.tarifs__list{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style-type: none;
}
.tarifs__item{
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	padding: 60px 0;
	margin: 10px 10px 20px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow:
  0 13.1px 13.6px -75px rgba(0, 0, 0, 0.11),
  0 94px 109px -75px rgba(0, 0, 0, 0.22)
;
}
.tarifs__title{
	margin: 0 0 10px;
	font-size: 25px;
	text-transform: uppercase;
	color: #222;
}
.tarifs__line{
	width: 150px;
	height: 2px;
	margin: 20px 0;
	background-color: #d4af37;
	border-width: 0;
	border-radius: 5px;
}
.tarifs__coin{
	margin: 0;
	padding: 5px 0;
	font-size: 22px;
	font-weight: bold;
}
.tarifs__plus{
	font-weight: bold;
}
.tarifs__percent{
	margin: 0;
	padding: 5px 0;
	font-weight: bold;
}
.tarifs__link{
	display: inline-block;
	margin: 10px 0 0;
	padding: 10px 35px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	border-radius: 20px;
	background-image: linear-gradient(250deg,#d4af37,#b18145 106.25%);
}
.tarifs__link:hover{
	background-image: linear-gradient(270deg,#b18145, #d4af37 106.25%);
}
/* tarifs end */

/* starter section start */

.starter{
	min-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(270deg,#111618,#201f1f 106.25%);
}
.starter__text{
	max-width: 600px;
	margin: 0 auto 5px;
	padding: 10px 0 5px;
	font-size: 30px;
	text-align: center;
	color: #fff;
}
.starter__link-box{
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.starter__link{
	display: inline-block;
	width: 150px;
	padding: 10px;
	margin: 5px;
	border-radius: 20px;
	color: #fff;
	background-image: linear-gradient(250deg,#d4af37,#b18145 106.25%);
	font-size: 20px;
	text-decoration: none;
	text-align: center;
}
.starter__link:hover{
	background-image: linear-gradient(270deg,#b18145, #d4af37 106.25%);
}
/* starter section end */

/* services start */

.services{
	padding: 0;
	background: linear-gradient(270deg,#111618,#201f1f 106.25%);
}
.services__gold{
	display: flex;
	padding: 40px 0;
	background:
		linear-gradient(to right, rgba(31, 31, 31, 0.8), rgba(31, 31, 31, 0.8)), 
		url("../assets/img/gold.jpg") no-repeat center center / cover;
		background-attachment: fixed;
}
.services__text-wrapper{
	align-self: center;
	max-width: 650px;
	margin: 0 auto;
	flex-grow: 1;
	text-align: center;
	color: #fff;
}
.services__title{
	margin: 0 0 10px;
	padding-top: 20px;
	color: #d4af37;
	text-align: center;
	font-size: 30px;
	letter-spacing: 0.5px;
}
.services__advantages{
	margin: 0;
	padding: 10px 0;
	letter-spacing: 0.5px;
	font-size: 24px;
	color: #d4af37;
}
.services__text{
	max-width: 600px;
	margin: 0 auto;
	padding: 0 20px 20px;
	line-height: 23px;
	letter-spacing: 1px;
	font-size: 20px;
}
.services__link{
	display: block;
	max-width: 200px;
	margin: 0 auto;
	padding: 15px 30px;
	border-radius: 25px;
	color: #fff;
	background-image: linear-gradient(250deg,#d4af37,#b18145 106.25%);
	text-decoration: none;
	letter-spacing: 0.5px;
}
.services__link:hover{
	background-image: linear-gradient(270deg,#b18145, #d4af37 106.25%);
}
.services__diomond{
	display: flex;
	padding: 40px 0;
	background:
		linear-gradient(to right, rgba(31, 31, 31, 0.8), rgba(31, 31, 31, 0.8)), 
		url("../assets/img/diamond.jpg") no-repeat center center / cover;
		background-attachment: fixed;
}
.services__real-estate{
	display: flex;
	padding: 40px 0;
	background:
		linear-gradient(to right, rgba(31, 31, 31, 0.8), rgba(31, 31, 31, 0.8)), 
		url("../assets/img/florida.jpg") no-repeat center center / cover;
		background-attachment: fixed;
}

/* services */

/* followings start */

.followings{
	padding: 10px 0 20px;
	background-color: #fff;
}
.followings__text{
	margin: 0;
	padding: 60px 0 20px;
	text-align: center;
	font-size: 23px;
	letter-spacing: 0.5px;
	color: #1C1D21;
}
.followings__list{
	margin: 0;
	padding: 0 0 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
}
.followings__item{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px;
	text-decoration: none;
}
.followings__title{
	color: #d4af37;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.5px;
}

/* followings end */

/* footer start */

.footer{
	padding: 20px 0 30px;
	background: linear-gradient(270deg,#111618,#201f1f 106.25%);
}
.footer__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.footer__list{
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}
.footer__item{
	margin: 0 10px;
}
.footer__link{
	color: #fff;
	text-decoration: none;
	letter-spacing: .5px;
}
.footer__text{
	margin: 0;
	padding: 0 10px;
	text-align: center;
	letter-spacing: 1px;
	color: #d4af37;
}

/* footer end */


@media screen and (max-width: 920px){
	.site-nav{
		position: relative;
		flex-direction: column;
		align-items: flex-start;
		
	}
	.site-nav__list{
		display: none;
		width: auto;
		flex-direction: column;
		align-self: center;
		justify-content: center;
	}
	.site-nav__item{
		padding: 5px 0;
	}
	.site-nav__link{
		text-align: center;
	}
	.nav-expanded{
		display: block;
	}
	.site-nav__menu{
		position: absolute;
		right: 30px;
		display: block;
		background-color: transparent;
		border-width: 0;
		z-index: 99;
	}
	.hero__wrapper{
		padding-top: 100px;
	}
	.hero__link{
		margin-bottom: 30px;
	}
	.services__gold{
		flex-wrap: wrap;
	}
	.services__text-wrapper{
		padding: 20px 0;
		max-width: 800px;
		margin: 0 auto;
	}
	.footer__list{
		flex-direction: column;
		/* align-items: flex-end; */
	}
	.footer__link{
		letter-spacing: 0.5px;
		line-height: 23px;
	}
}
/* @media screen and (max-width: 640px){
	.services__img{
		max-width: 620px;
		height: 400px;
		margin: 0 auto;
		object-fit: contain;
	}
} */
@media screen and (max-width: 340px){
	.using-technology__link{
		max-width: 280px;
	}
	.footer__wrapper{
		flex-direction: column;
	}
	.footer__logo{
		margin-bottom: 20px;
	}
}